body {
  background-color: #ffe6a7;
  color: #e26d5c;
}

#navigation {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.lexend-deca-h1 {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#slide-1 {
  margin-bottom: 32.2vh;
}

#slide-2 {
  border: 10px solid red;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.current-nav {
  text-decoration: underline;
}

.navbar:first-child {
  margin-left: 35vw;
}

.navbar:last-child {
  margin-right: 35vw;
}

.navbar {
  font-size: 20px;
  margin-top: 7vh;
}

.typewrite {
  text-decoration: underline;
}

.container-big-text {
  display: flex;
  justify-content: center;
}

.big-center-text {
  margin-top: 20vh;
  font-size: 144px;
}

#about {
  height: 100vh;
  background-color: #fff4d8;
}
